body{
padding:0px;
margin: 0px;
}

#header{
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  margin: 0px;
  height: 50vh;
  font-family: 'Caveat', cursive;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  /*.middle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }*/
  .middle-container img{
    width: 200px;
    border-radius: 50%;
    
  }

  .contents h2{
    font-family: 'Pacifico', cursive;
    color: rgb(52, 205, 208);
  }

  .contents h3{
    font-family: 'Averia Serif Libre', cursive;
    color: rgb(70, 43, 3);
  }
  .skills-Tester ul{
    list-style: none;
  }

  .skills-container{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 122px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
    font-family: 'Averia Serif Libre', cursive;
  }

  .skills-Developer ul{
    list-style: none;
  }
  
  #contact-section{
    font-family: 'Averia Serif Libre', cursive;
  }
  #contact-section button{
   background-color: #3b9dbd;
  
  }

  footer svg{
    height: 20px;

  }
 
  